

:root {
  --md-admonition-icon--shell: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 -960 960 960"><path d="M160-160q-33 0-56.5-23.5T80-240v-480q0-33 23.5-56.5T160-800h640q33 0 56.5 23.5T880-720v480q0 33-23.5 56.5T800-160H160Zm0-80h640v-400H160v400Zm140-40-56-56 103-104-104-104 57-56 160 160-160 160Zm180 0v-80h240v80H480Z"/></svg>');
  --shell-background-color: rgb(51, 57, 52);
  --shell-header-background-color: rgb(77, 90, 79);
  --shell-text-color: greenyellow;
}
.md-typeset .admonition.shell,
.md-typeset details.shell {
  border-color: var(--shell-background-color);
  background-color: var(--shell-background-color);
}
.md-typeset .shell > .admonition-title,
.md-typeset .shell > summary {
  background-color:  var(--shell-header-background-color);
  border-color: var(--shell-background-color);
  color: var(--shell-text-color);
}
.md-typeset .shell > .admonition-title::before,
.md-typeset .shell > summary::before {
  background-color: var(--shell-text-color);
  -webkit-mask-image: var(--md-admonition-icon--shell);
          mask-image: var(--md-admonition-icon--shell);
}

.md-typeset .shell > :not(.admonition-title) {
  color: var(--shell-text-color);
  font-family: "Source Code Pro", monospace;
  font-optical-sizing: auto;
  white-space: pre-wrap;
}



.md-typeset .shell.html-whitespace > :not(.admonition-title) {
  white-space: normal;
}





.admonition:hover pop {
  color: var(--shell-background-color);
  font-weight: bold;
  background-color: var(--shell-text-color);
}

.admonition:hover .bash-red pop {
  color: var(--shell-background-color);
  font-weight: bold;
  background-color: rgb(239, 47, 85);
}

.admonition:hover .bash-purple pop {
  color: var(--shell-background-color);
  font-weight: bold;
  background-color: rgb(212, 24, 212);
}