

.md-typeset h1 {
  margin-left: 10px;
  font-weight: bold;
  color: skyblue;
}

.md-typeset h2 {
  margin-left: 15px;
  font-weight: bold;
}

.md-typeset h3 {
  margin-left: 20px;
  font-weight: bold;
}

.button-icon img {
  top: 10px;
}

.half-width {
  width: 49%;
}

.md-sidebar--secondary {
  opacity: 0%;
  pointer-events: none;
}

.md-content__inner {
  position: relative;
}

.info-card {
  position: relative;
  text-align: left;
  top: -15px;
  padding-top: 3px;
  padding-bottom: 3px;
  padding-right: 10px;
  padding-left: 10px;
  margin-right: auto;
  margin-left: auto;
  width: 80%;
}

@media (min-width: 960px) {
  .info-card {
    position: absolute;
    right: -260px;
    top: 0px;
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    padding-left: 10px;
    margin-right: 0px;
    width: 240px;
  }
}

.auto-width {
  width: auto;
}


.full-width {
  width: 100%;
}

.md-button.full-width {
  width: 100%;
  text-align: center;
}